<header>
  <div class="container">
    <nav class="main-nav">
      <a href="index.html" title="SkinInsight" class="logo">
        <img src="../images/logo.png" alt="SkinInsight">
      </a>
      <ul class="main-menu">
        <li><a href="model.html">Ai 피부분석</a></li>
        <li><a href="../../../Desktop/Deep_Project/Test/public/shop.html">Shop</a></li>
        <li><a href="info.html">팀구성원</a></li>
      </ul>
      <ul class="right-menu">
        <li><a href="#" class="search">검색</a><i class="fas fa-search"></i></li>
        <li><a href="#" class="cart">카트</a><i class="fas fa-shopping-cart"></i></li>
        <!-- Placeholder for showing login or username -->
        <li id="auth-section">
          <a href="../../../Desktop/Deep_Project/Test/public/login.html" class="login">로그인</a><i class="far fa-user-circle large"></i>
        </li>
      </ul>
      <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
      </div>
    </nav>
  </div>
</header>
