<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="../../../Desktop/Deep_Project/Test/public/info.css">
  <link rel="stylesheet" href="../../../Desktop/Deep_Project/Test/public/reset.css">
  <link rel="stylesheet" href="common.css">
  <!-- JS File -->
  <script src="../../../Desktop/Deep_Project/Test/app.js"></script>
  <script src="app2.js"></script>

  <title>SkinInsight 모델링</title>
</head>

<body>
  <header id="header-placeholder"></header>

  <main>
    <section id="brand-story">
      <!-- First Section -->
      <div class="section section-header">
        <h1>SkinInsight Story</h1>
        <h3>조 소개</h3>
        <div class="image-container">
          <img src="./images/jo.jpeg" alt="Dr.G Products">
        </div>
        <p>피부 고민을 가진 이들의 마음을 알기에, 열심히 한계까지 모델의 성능을 올렸습니다.</p>
      </div>
    
      <!-- Second Section -->
      <div class="section section-brand-intro">
        <blockquote>“피부과학으로 사람들을 건강하게 해주고 싶다”는 뜻이 모여 <br>(반강제적)으로 모인 내피부 알려조</blockquote>
        <p>피부고민에 대한 수만 건의 데이터를 바탕으로, 피부에 대해 학습하고 이를 토대로 제품을 개발하는 ‘내피부 알려조’입니다.</p>
        <p>내피부 알려조는 효율적인 분업화와 융통성을 가진 팀원들의 활약으로 주제 선정부터 모델링, 그리고 최종까지 불화없이 완벽하게 수행했습니다.</p>
        
      </div>
    </section>

    <section id="team-members">
      <h2>Meet Our Team</h2>
      <div class="team-grid">
        <!-- Team Member 1 -->
        <div class="team-card">
          <div class="team-image">
            <img src="./images/cat5.jpeg" alt="Team Member 1">
          </div>
          <h3>김동엽</h3>
          <p>모델링</p>
          <p>안예민함</p>
        </div>
    
        <!-- Team Member 2 -->
        <div class="team-card">
          <div class="team-image">
            <img src="./images/cat4.jpeg" alt="Team Member 2">
          </div>
          <h3>허영준</h3>
          <p>PM,모델링</p>
          <p>안예민함</p>
        </div>
    
        <!-- Team Member 3 -->
        <div class="team-card">
          <div class="team-image">
            <img src="./images/cat3.jpg" alt="Team Member 3">
          </div>
          <h3>김우진</h3>
          <p>모델링, PPT</p>
          <p>안예민함</p>
        </div>
    
        <!-- Team Member 4 -->
        <div class="team-card">
          <div class="team-image">
            <img src="./images/cat2.jpeg" alt="Team Member 4">
          </div>
          <h3>박지인</h3>
          <p>모델링,PPT</p>
          <p>피곤함</p>
        </div>
    
        <!-- Team Member 5 -->
        <div class="team-card">
          <div class="team-image">
            <img src="./images/seob.jpeg" alt="Team Member 5">
          </div>
          <h3>이정섭</h3>
          <p>서비스구현,모델링</p>
          <p>예민함</p>
        </div>
    
        <!-- Team Member 6 -->
        <div class="team-card">
          <div class="team-image">
            <img src="./images/cat1.webp" alt="Team Member 6">
          </div>
          <h3>조형석</h3>
          <p>서비스구현,모델링</p>
          <p>안예민함</p>
        </div>
      </div>
    </section>
    
    
  </main>

  <footer class="child">
    <!-- container -->
    <div class="container">
      <div class="etc">
        <span class="copyright">Copyright JeongSeob LEE. All Rights Reserved</span>
      </div>
    </div>
  </footer>

</body>
<script src="./header.js"></script>
<script src="./login.js"></script>
</html>